.login-token {
  display: flex;
  justify-content: space-between
}

.token {
  font-size: xx-small;
  font-weight: 100;
}

.login {
  color: darkblue;
}

.div-login-user {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.logged {
  color: green;
}

.login-link {
  font-size: 1em;
  font-weight: 400;
  color: rgb(11, 97, 196);
  text-decoration: none;
  z-index: 0;
}

.register-link {
  font-size: 1em;
  font-weight: 400;
  color: rgb(57, 143, 31);
  text-decoration: none;
  z-index: 0;
}

.login-link:hover {
  color: rgb(78, 78, 255);
  text-shadow: 
  1px 0 0 darkblue,  
  1px 0 0 darkblue,
  0 1px 0 darkblue,
  0 1px 0 darkblue;
}