.header-header {
  background-color: #3f3f3f;
}

.h2-header {
  margin-left: 2%;
  font-size: 22px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
  text-shadow: 
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}
.iot {
  color: rgb(177, 81, 255);
}

.h3-header {
  font-size: 16px;
  font-weight: 400;
  font-style: oblique;
  color: rgb(167, 188, 255);
}

.subtitle-menu-icon-container {
  display: flex;
  justify-content: center;
}

.menu-icon-container {
  position: absolute;
  display: flex;
  align-items: center;
  left: 5px;
  font-size: 24px;
  color: rgba(0, 255, 255, 0.856);
}

.watchword {
  display: flex;
}