/* Menu desplegable */
.menu-open {
  display: block;
}

.menu-close {
  display: none;
}

.menu-component {
  position: relative;
}

.menu-container {
  position: fixed;
  overflow: hidden;
  background-color: #2d2e31ea;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 4px rgba(91, 99, 116, 0.5);
  width: 250px;
  z-index: 3;
  border-radius: 0 10px 10px 0;
  left: 0;
  top: 4.2em;
}

.menu-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: linear-gradient(to right, rgba(103, 103, 105, 0.363) 0%, rgba(108, 108, 110, 0.781) 95%, rgb(129, 122, 133) 100%);
  background-position: 100% 0;
  background-size: auto 100%, 40px 100%;
  background-repeat: no-repeat;
  transition: width 0.3s ease-in-out;
  z-index: -1;
}

.menu-container:hover::before {
  width: 100%;
}

.menu-item-route {
  width: 100%;
}

.menu-toggle {
  margin: 1em;
}

.menu-item {
  margin: 0 3em .2em .5em;
  position: relative;
}

.a-menu {
  color: gainsboro;
  text-decoration: none;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.item-icon-menu {
  color: rgb(206, 206, 206);
  display: flex;
  align-items: center;
  gap: .5em;
  text-decoration: none;
}

.item-icon-menu:hover {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.subitem-icon-menu {
  color: rgb(206, 206, 206);
  display: flex;
  align-items: center;
  gap: .5em;
  text-decoration: none;
}

.subitem-icon-menu:hover {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

li {
  list-style: none;
  position: relative;
  z-index: 1;
}

li a {
  font-weight: 500;
  font-size: 14px;
  position: relative;
  z-index: 1;
}

@media (max-width: 850px) {
  .menu-item {
    margin: 0 1em .1em .05em;
  }
  .menu-container {
    width: 200px;
  }
}

@media (max-width: 450px) {
  a {
    font-size: 16px
  }
  li a {
    font-size: 14px;
  }
}