/* Ver Cursos */
.courses-container-view {
  display: flex;
  justify-content: center;
}

.container-view {
  width: 60%;
}

.login-user-container {
  margin-top: .3em;
  text-align: right;
}

.card-background {
  background-color: rgba(202, 199, 230, 0.493);
}

/* Ver Curso */
.header-view {
  margin: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-view {
  width: 300px;
  height: 200px;
  margin-right: 1em;
}

.title-container{
  display: flex;
  align-items: center;
}

.description-view {
  display: flex;
  flex-direction: column;
  margin: 2em 4em;
  padding: 1.2em 1.5em;
  height: 160px;
  max-width: 300px;
  background-color: rgb(220, 218, 236);
  box-shadow: 0 0 10px 4px rgba(72, 58, 73, 0.349);
  border: 1px solid blue;
}

.description-description-view {
  display: flex;
  flex-direction: column;
  margin: 2em 4em;
  padding: 1.2em 1.5em;
  background-color: rgb(220, 218, 236);
  box-shadow: 0 0 10px 4px rgba(72, 58, 73, 0.349);
  border: 1px solid blue;
}

.activ {
  color: rgba(0, 128, 0, 0.8);
}

.inactive {
  color: rgba(255, 0, 0, 0.8);
}

@media (max-width: 650px) {
  .header-view {
    display: flex;
    flex-direction: column;
  }
  .description-description-view {
    margin: 1em 2em;
    padding: auto;
  }
}

@media (max-width: 849px) {
  .img-view {
    width: 60%;
    height: 100px;
  }
  .container-view {
    width: 80%;
  }
  .header-view h1 {
    font-size: 24px;
  }
  .header-view h5 {
    font-size: 16px;
    margin-top: 1em;
  }
  .description-view {
    margin: 1em 2em;
  }
}

@media (max-width: 450px) {
  .container-view {
    width: 100%;
  }
}